:root {
  --background-color: #f9f6ee;
  --color-green: #53812d;
  --color-cream: #fff1da;
}

body {
  background-color: var(--background-color);
  font-size: 16px;
  font-family: poppins;
}

/* Set font sizes for text elements */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Archivo;
}

h1 {
  font-size: 35pt;
}

h1 {
  font-size: 28pt;
}
a {
  text-decoration: none;
  font-size: 15px;
}

button {
  background-color: transparent;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-button {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  background: var(--color-green);
  border-radius: 50px;
  color: var(--background-color);
  padding: 16px 24px;
  border: 0px;
  cursor: pointer;
  margin: auto;
}
.explore-button img {
  width: 20px;
  height: 20px;
  filter: invert(100);
}
.explore-button:hover img {
  transform: rotate(-45deg);
}
.section-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-block: 50px;
}
.section-header-centered {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 30px;
  margin-block: 50px;
  margin: auto;
  text-align: center;
}
.section-header-centered h1 {
  line-height: 50px;
}
.section-header-centered p,
.section-header p {
  font-size: 14px;
}
.section-header-centered p {
  padding-inline: 60px;
}
.section-header p {
  padding-right: 60px;
}
.section-header h1 {
  line-height: 50px;
}
.section-header .caption {
  width: 50%;
}
